@model IEnumerable<CompraPerfil>
@{
    ViewData["Title"] = "Index";
}

<style>
    .btn-group button {
        background-color: white;
        border: 1px solid whitesmoke;
        color: black;
        padding: 10px 24px;
        cursor: pointer;
        display: block;
        width: 250px;
        font-family: 'Century Gothic';
    }
    .btn-group button:hover {
            background-color: whitesmoke;
    }
</style>

<body>
    <div class="text-center" style="color:black; font-family: 'Century Gothic'; background-color:whitesmoke; padding-top: 1em; padding-bottom: 1em; margin-bottom: 20px;">
        <p style="font-size: 40px; "><b><span>ÁREA CLIENTE</span></b></p>
        <p style="font-size: 20px; "><span>Bem-vindo à sua área de cliente, @User.Claims.ElementAt(1).Value!</span></p>
    </div>

    <div class="container">
        <div class="row" style="padding-bottom: 2em;">
            <div class="btn-group">
                <div class="col-md-3">
                    <button><b>Dados Pessoais</b></button>
                    <button><b>Minhas Encomendas</b></button>
                    <button><b>Meus Produtos</b></button>
                    <button><b>Meus Favoritos</b></button>
                    <button><b>Meus Comentários</b></button>
                    <button><b>Minhas Mensagens</b></button>
                    <button><b>Minhas Avaliações</b></button>
                    <a asp-action="Logout"><button style="color:red"; ><b>Terminar Sessão</b></button></a>
                </div>
            </div>
            <div class="col-md-9" >
                <table style="text-align: center" class="table table-bordered table-sm table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Preço</th>
                            <th>Estado</th>
                            <th>Data</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model == null)
                        {
                            <tr>
                                <td colspan="7" class="text-center">No Model Data</td>
                            </tr>
                        }
                        else
                        {
                            @foreach (var p in Model)
                            {
                                <tr >
                                    <td style="text-align:center">@p.id</td>
                                    <td style="text-align:center">@p.total</td>
                                    <td style="text-align:center">@p.estado</td>
                                    <td style="text-align:center">@p.data</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>     
            </div>
        </div>
    </div>
</body>
