@model CompraView
@{
    ViewData["Title"] = "Index";
}

<style>
    .btn-group button {
        background-color: white;
        border: 1px solid whitesmoke;
        color: black;
        padding: 10px 24px;
        cursor: pointer;
        display: block;
        width: 250px;
        font-family: 'Century Gothic';
    }

        .btn-group button:hover {
            background-color: whitesmoke;
        }
</style>

<body>
    <div class="text-center" style="color:black; font-family: 'Century Gothic'; background-color:whitesmoke; padding-top: 1em; padding-bottom: 1em; margin-bottom: 20px;">
        <p style="font-size: 40px; "><b><span>ÁREA CLIENTE</span></b></p>
        <p style="font-size: 20px; "><span>Bem-vindo à sua área de cliente, <b>@User.Claims.ElementAt(1).Value</b>!</span></p>
    </div>

    <div class="container">
        <div class="row" style="padding-bottom: 2em;">
            <div class="btn-group">
                <div class="col-md-3">
                    <a asp-action="DadosPessoais"><button><b>Dados Pessoais</b></button></a>
                    <a asp-action="MinhasEncomendas"><button style="background-color:whitesmoke"><b>Minhas Encomendas</b></button></a>
                    <button><b>Meus Produtos</b></button>
                    <button><b>Meus Favoritos</b></button>
                    <button><b>Meus Comentários</b></button>
                    <button><b>Minhas Mensagens</b></button>
                    <button><b>Minhas Avaliações</b></button>
                    <a asp-action="Logout"><button style="color:red" ;><b>Terminar Sessão</b></button></a>
                </div>
            </div>
            <div class="col-md-9" style="border: 1px solid whitesmoke; padding-bottom:1em;">
                <div class="row" style="font-size: 20px; text-align: center; font-family: 'Century Gothic'">
                    <div class="col-md-12">
                        <center>
                            <p style="font-size: 20px;"><span><b>Encomenda #@Model.compra.id - @Model.estado</b></span></p>
                        </center>
                    </div>
                </div>
                <div class="row text-center" style="font-size: 12px;">
                    <div class="col-sm-2">
                        <div class="card">
                            <div class="card-body" style="background-color: #99FFCC">
                                <p class="card-text">Planeamento</p>
                            </div>
                        </div>
                    </div>

                    @if (Model.estado.Equals("Produção") || Model.estado.Equals("Aceitação") || Model.estado.Equals("Concluído") || Model.estado.Equals("Validação") || Model.estado.Equals("Entregue"))
                    {
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="card-body" style="background-color: #99FFCC">
                                    <p class="card-text">Produção</p>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="card-body" style="background-color: whitesmoke">
                                    <p class="card-text">Produção</p>
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.estado.Equals("Aceitação") || Model.estado.Equals("Concluído") || Model.estado.Equals("Validação") || Model.estado.Equals("Entregue"))
                    {
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="card-body" style="background-color: #99FFCC">
                                    <p class="card-text">Aceitação</p>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="card-body" style="background-color: whitesmoke">
                                    <p class="card-text">Aceitação</p>
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.estado.Equals("Concluído") || Model.estado.Equals("Validação") || Model.estado.Equals("Entregue"))
                    {
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="card-body" style="background-color: #99FFCC">
                                    <p class="card-text">Concluído</p>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="card-body" style="background-color: whitesmoke">
                                    <p class="card-text">Concluído</p>
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.estado.Equals("Validação") || Model.estado.Equals("Entregue"))
                    {
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="card-body" style="background-color: #99FFCC">
                                    <p class="card-text">Validação</p>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="card-body" style="background-color: whitesmoke">
                                    <p class="card-text">Validação</p>
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.estado.Equals("Entregue"))
                    {
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="card-body" style="background-color: #99FFCC">
                                    <p class="card-text">Entregue</p>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="card-body" style="background-color: whitesmoke">
                                    <p class="card-text">Entregue</p>
                                </div>
                            </div>
                        </div>
                    }

                </div>

                @foreach (var p in Model.produtos)
                {
                    <div class="row" style="text-align: center; font-size: 20px;">
                        <div class="col-md-4" style="padding-top: 1em;">
                            <center>
                                <img src="~/images/artigoBlogOpcao.png" width="200" height="150" padding-right="100">
                            </center>
                        </div>
                        <div class="col-md-4" style=" margin-top: 2em">
                            <p><b><span>@p.categoria </span></b></p>
                            <p><span>@p.nome</span></p>
                        </div>
                        <div class="col-md-4" style="margin-top:1em">
                            <p style="margin-top: 3em"><span>@p.preco€</span></p>
                        </div>
                    </div>
                    <hr />

                }


                <div class="row" style="font-size: 20px; text-align: center; padding-top: 1em">
                    <div class="col-md-12">
                        <center>
                            <p style="font-size: 20px;"><span><b>Dados de Faturação</b></span></p>
                        </center>
                    </div>
                </div>
                <div class="row" style="font-size: 15px; text-align: left">
                    <div class="col-md-4">
                        <p><span><b>Nome: </b> @Model.fatura.nome</span></p>
                        <p><span><b>Email: </b> @Model.fatura.email</span></p>
                        <p><span><b>Morada: </b> @Model.fatura.morada</span></p>
                    </div>
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">
                        <p><span><b>NIF: </b> @Model.fatura.nif</span></p>
                        <p><span><b>Nº de Telemóvel: </b>@Model.fatura.tlm</span></p>
                        <p><span><b>Total(c/IVA): </b> @Model.compra.total€</span></p>
                    </div>
                </div>
            </div>
                </div>
        </div>
</body>

